.site-header{
	margin:30px auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:9999;
}

.site-header .site-branding .site-title a img{
	max-height:58px;
	display:block;
}

.site-header > .row > div{
	display:inline-block;
	float:none;
	margin:0 -4px 0 0;
	vertical-align:middle;
}

.site-header #site-navigation{
	margin:0;
}

.site-header #site-navigation .navbar-collapse{
	padding:0 20px;
}

.site-header #site-navigation .navbar-right li:hover a:before{
	display:none
}

.about-navbar-nav {
	text-align: left !important;
	margin-left: 50px !important;
	margin-top: 5px !important;
}

.about-navbar-nav > li > a {
    text-decoration: none;
	color: white !important;
	text-align: left !important;
	padding: 12px 40px 15px !important;
}

.navbar-right li{
	float: none;
    display: inline-block;
    vertical-align: middle;
	margin-top: 10px !important;
}

.navbar-right li a{
	color: white !important;
	text-align: left !important;
	padding: 15px 19px 15px !important;
	bottom: -10px;
}

.navbar-left a:after {
	transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #f5ab35;
    content: "";
    display: block;
    height: 3px;
    width: 0;
	position: relative;
	left: 18px;
	bottom: -10px;
}

/* .navbar-left .about-nav-item.active */

/* .navbar-left a:hover {
	border-bottom: 5px solid #f5ab35;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    
	transition: all 0.3s ease-in-out 0.2s;
} */

.navbar-left > .active > a::after {
    background: none repeat scroll 0 0 #f5ab35;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
	position: relative;
	left: 18px;
	bottom: -10px;
}
.navbar-left a:hover:after {
	width: 100%;
}

#js-bootstrap-offcanvas:after {
    content: "";
    display: table;
    clear: both;
}

.about-navbar-nav > li > a {
    color: white; 
}