.schedule-hero{
	position:relative;
	background:url(../../academics-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0 0 -85px;
	min-height:549px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-hero:after{
	content: "";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background: rgba(0, 66, 150, 0.9)
}

.schedule-hero .hero-content{
	position:relative;
	z-index:1;
	text-align:center;
}

.hero-content .hero-caption{
	padding:100px 0 0
}

.hero-content .hero-caption h2{
	line-height:auto;
	color:#fff;
	font-family: "Montserrat-Light";
	margin:0 0 30px;
	font-weight: bold;
}

.schedule-hero .hero-content a{
	font-size:15px;
	line-height:15px;
	color:#fff;
	margin:0 0 50px;
	text-transform:uppercase;
	display:inline-block;
	border-radius:5px;
	border:1px solid #fff;
	padding:15px 25px;
    text-decoration: none;
    font-weight: bold;
}

.schedule-hero .hero-content a:hover{
	background:#fff;
	color:#004296
}