.search-bar{
	background:#fff;
	padding:20px 0;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	position:relative
}

.search-bar .container{
	padding:0 30px
}

.search-bar Form.Control{
	width:100%;
	border:none;
	padding:0 0 0 50px;
	height:15px;
	line-height:15px;
	color:#bababa;
	font-size:16px;
	font-family: "Montserrat-Light";
    border: 0 px solid;
}

.search-bar input[type="text"]::-webkit-input-placeholder{
	color: #bababa;
	font-family: "Montserrat-Light";
}
.search-bar input[type="text"]::-moz-placeholder{
	color: #bababa;
	font-family: "Montserrat-Light";
}

.search-bar input[type="text"]::-ms-input-placeholder{
	color: #bababa;
	font-family: "Montserrat-Light";
}

.search-bar input[type="text"]:-moz-placeholder{ 
	color: #bababa;
	font-family: "Montserrat-Light";
}
